nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

nav:first-child {
    margin-right: auto;
}

.logo {
    background-color: #fff;
}

.icon {
    width: 24px;
    height: 24px;
    stroke:#f03e3e;
}

.btn {
    padding: 12px 36px;
    text-align: center;
    border-radius: 6px;
}

.btn-login {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-register {
    background-color: var(--primary-color);
    color: #fff;
}