<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1><%= site.name %></h1>
    <h2><%= site.address %></h2>
    <h3><%= site.decription %></h3>
    

    </p>
    <footer>
        <a href="/sites">All sites</a>
    </footer>
</body>

</html>